<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Example</title>
        <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
        <style media="screen">
            [v-cloak] { display: :none; }
        </style>
    </head>
    <body>
        <script type="text/javascript">
            const home = window.location.host === 'para-d.github.io' ? '/vuejs-essentials/' : '/';
            document.write('<a href="'+home+'">Home</a> / <a href="doc.html">Doc</a>');
        </script>

        <div id="app">
            <parent-component></parent-component>
        </div>
        <script type="text/javascript">
            let app = Vue.createApp({});

            app.component('parent-component',{
                template: `
                    <div>
                        <label>Parent Component</label><br>
                        <input v-model="search" />
                    </div>
                    <div>
                        <input-component v-model="search" v-bind:label="label"></input-component>
                    </div>
                `,
                data:function(){
                    return {
                        label: 'Search Terms',
                        search: ''
                    }
                }
            });

            app.component('input-component',{
                template:`
                    <label>{{label}} (child component)</label><br>
                    <input v-model="modelValue" />
                `,
                props:['label','modelValue']
            });

            app.mount('#app');
        </script>
    </body>
</html>
