<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Example</title>
        <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
        <style media="screen">
            [v-cloak] { display: :none; }
        </style>
    </head>
    <body>
        <script type="text/javascript">
            const home = window.location.host === 'para-d.github.io' ? '/vuejs-essentials/' : '/';
            document.write('<a href="'+home+'">Home</a> / <a href="doc.html">Doc</a>');
        </script>

        <div id="app" v-cloak>
            <registration-form></registration-form>
        </div>
        <script type="text/javascript">
            let app = Vue.createApp({});

            app.component('registration-form',{
                template: `
                <form-heading></form-heading>
                <form @submit.prevent="submitForm" action="target.html" method="post">
                    <input-component v-bind:label="username.label" :name="username.name" :type="username.type" :id="username.id" v-model="username.value"></input-component>
                    <input-component v-bind:label="password.label" :name="password.name" :type="password.type" :id="password.id" v-model="password.value"></input-component>
                    <submit-button></submit-button>
                </form>
                `,
                // component: ['form-heading','input-component','submit-button'],
                data: function(){
                    return {
                        username:{
                            label: 'Username',
                            name: 'username',
                            type: 'text',
                            id: 'id',
                            value: 'abc'
                        },
                        password:{
                            label: 'Password',
                            name: 'password',
                            type: 'password',
                            id: 'password',
                            value: 'def'
                        }
                    }
                },
                methods:{
                    submitForm:function(){
                        console.log(this.username.value,this.password.value);
                    }
                }

            });

            app.component('form-heading',{
                template:`<h1>{{title}}</h1>`, // Title is provided as a variable
                data: function(){
                    return {
                        title:'Register'
                    }
                }
            });
            app.component('input-component',{
                template: `
                <div>
                    <label for="{{id}}">{{label}}</label>
                    <input type="{{type}}" placeholder="{{name}}" name="{{name}}" id="{{id}}" v-model="inValue">
                </div>
                `,
                props:['label','name','type','id','modelValue'],
                computed:{
                    inValue:{
                        get:function(){
                            return this.modelValue;
                        },
                        set:function(value){
                            this.$emit('update:modelValue',value);
                        }
                    }
                }
            });

            app.component('submit-button',{
                template: `<input type="submit" name="" value="Register">`
            });
            app.mount('#app');
        </script>
    </body>
</html>
